<h1>NHK 番組情報</h1>
<p>本サイトは、NHK番組の最新情報をお届けしております。</p>
<p>御覧になりたい方はぜひサインアップしてください。</p>


<%= form_tag(program_search_path) do %>
 
 <label>エリア</label>
 <%= collection_select(:value, :area, Area.all, :code, :name) %>
 
 <label>番組</label>
 <%= collection_select(:value, :service, Service.all, :code, :program) %>
 
 <label>日付</label>
 <%= select(:value, :before, {今日: 0, 明日: 1, 明後日: 2, ３日後: 3, ４日後: 4, ５日後: 5, ６日後: 6}, selected: (@search ? @search[:value][:before] : 0)) %>
 <%= hidden_field_tag(:date, Date.today) %>

 <%= submit_tag %>
<% end %>

<%= @search.inspect %>

