<% if logged_in? %>
      
<div class='row'>    
  <%= form_tag(program_search_path) do %>
    
  <div class='form-group'>
    <div class='col-sm-3'>
      <label>エリア</label><br>
      <%= collection_select(:value, :area, Area.all, :code, :name, selected_area(@search)) %>
    </div>
  </div>
    
  <div class='form-group'>
    <div class='col-sm-3'>
     <label>番組</label>
     <%= collection_select(:value, :service, Service.all, :code, :program, selected_service(@search)) %>
    </div>
  </div>
  
  <div class='form-group'>
    <div class='col-sm-3'>
     <label>日付</label>
     <%= select(:value, :after, date_selecter, selected_date(@search)) %>
     <%= hidden_field_tag(:date, today) %>
    </div>
  </div>

   <%= submit_tag %>
  <% end %>
</div> 
   
  
  <% if @result.present? && @result.present? %>
    <h3><%= strif_date(@search[:date]) %> の放送</h3>
      <ul>
        <% @result["list"][@search[:service]].each do |program| %>
          <li>時間：<%= strf_time(program['start_time']) %>〜<%= strf_time(program['end_time']) %></li>
          <li>タイトル：<%= program['title'] %></li>
          <li>サブタイトル：<%= program['subtitle'] %></li>
          <li>内容：<br><%= program['content'] %></li>
          <li>出演：<%= program['act'] %></li><br>
        <% end %>
      </ul>
  <% end %>

<% else %>

  <div class="center jumbotron">
    <h1>Welcome to NHK 番組情報！</h1>
    <p>本サイトは、NHK番組の最新情報をお届けしております。</p>
    <p>御覧になりたい方はぜひサインアップしてください。</p>
    <p>下にある"Sign up now!"又は右上の"Login"をクリックしてお進みください！</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
    
<% end %>
